body{
      color: black;
      font-family: 'PT Serif',serif;
    }

#img1{
    margin-top: 0;
    margin-bottom: 20px;
}

#ht{
  background-color: white;
  text-align: left;
  width: auto;
}

#t1{
      /* font-family: 'PT Serif',serif; */
      font-size: 15px;
      background-color: rgb(143, 188, 143);
      position: relative;
      width: 100%;
      text-align: center;
      border-spacing: 50px 6px;
}

.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

p{
      font-family: 'PT Serif',serif;
      font-size: 40px;
      text-align: center;
      color: #287213;
      border-bottom: 40px;
  }

#p1{
  font-size: 30px;
  text-align: center;
  border-bottom: 40px;
  color: black;
}

#t3{
    padding: 15px;
    text-align: center;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: 100%;
    background-color: rgb(143, 188, 143);

}
